@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica-light.otf);
}
@font-face {
    font-family: Bodoni;
    src: url(../fonts/Bodoni.otf);

}
 @font-face {
    font-family: Playfair; /* Имя шрифта */
    src: url(../fonts/Playfair.ttf); /* Путь к файлу со шрифтом */
   }
 @font-face {
    font-family: Avenir; /* Имя шрифта */
    src: url(../fonts/AvenirLight.otf); /* Путь к файлу со шрифтом */
   }

body{
	height: 2000px;
	width: 100%;
	padding: 0px;
    background-color: #FFFFFF;
}
/*
*, *::after, *::before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
margin: 0;
padding: 0;
}
*/
.logo{
    /*margin: 0 auto;*/
  height: 100px;
  width: 100%;
    padding-top: 20px;
  /*background: url(../img/1.png) no-repeat center #fff;*/
  /*border: 1px red solid;*/
}
.menu{
  background-color: #311012;
  height: 60px;
  margin-top: 20px;
}
.mainmenu{
  width: 70%;
  margin: 0 auto;
}
nav li{
  display: inline-block;
}
nav a{
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #fff;
}
nav a:hover{
  color: #B88B7F;
  text-decoration: none;
}
nav a:focus{
  color: #B88B7F;
  text-decoration: none;
}
.menu-trigger{
  text-align: center;
  display: none;
}

.cart > a{
  display: block;
  color: #fff;
  margin-top: 16px;
}
header{
    background: url(../img/1_new.jpg) no-repeat center top;
    height: 702px;
    /*margin-top: -30px;*/
}
.header-logo h1{
    margin-top: 100px;
    font-family: Bodoni;
    font-size: 72px;
    font-weight: 700;
    color: #fff;
}
.header-logo h3{
    margin-top: 20px;
    font-family: Playfair;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.header-logo a{
    display: inline-block;
    border: 1px solid #fff;
    font-family: AvenirLight;
    font-size: 18px;
    text-transform: capitalize;
    padding: 15px 25px;
    margin-top: 50px;
    text-decoration: none;
    color: #fff;
}
.header-logo a:hover{
    background-color: #fff;
    color: #000;
}
.transition {
  transition: 1s;
}
section{
    background-color: #BF2936;
    width: 100%;
    height: 1040px;
}
header img{
    margin: 120px auto;
    width: 940px;
    height: 529px;
}
/*
.wrapper{
    max-width: 942px; 
    /*margin: 0 auto;
}
*/
.img_sec{
    padding-top: 50px;
}
.text2{
  width: 125%; 
}
section h3{
    margin-top: 10px;
    font-family: Playfair;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    line-height: 35px;
    text-transform: capitalize;
}
section h1{
    margin-top: 20px;
    font-family: Bodoni;
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    line-height: 64px;
}
section h5{
    margin-top: 10px;
    font-family: AvenirLight;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    line-height: 30px;
    word-wrap: break-word;
}
.sec1{
    width: 100%;
    height: 320px;
}
.sec1 p{
    margin-top: 130px;
    margin-left: -20px;
    font-family: Bodoni;
    font-size: 48px;
    font-weight: 800;
    color: #c52c3c;
    line-height: 64px;
    word-spacing: 3px;
}
.sec1_1 a:hover{
    background-color: #311012;
    color: #fff;
}
.sec1_1{
}
.sec2 a:hover{
    background-color: #311012;
    color: #fff;
}
.sec3 a:hover{
    background-color: #311012;
    color: #fff;
}
.section_h3{
    font-family: Bodoni;
    font-size: 32px;
    font-weight: 200;
    color: #c52c3c;
    line-height: 45px;
}
.section_h4{
    font-family: Playfair;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 35px;
}
.section_a{
    display: inline-block;
    border: 1px solid #000;
    font-family: AvenirLight;
    font-size: 18px;
    padding: 15px 25px;
    text-decoration: none;
    color: #000;    
}

.text_sec{
    margin-top: 30px;
}
.section1 img{
    margin-top: 10px;
}
.sec4_1 img{
    background-size: cover;
    width: 100%;
    height: 415px;
    margin-top: 0px;
}
.sec4_2{
    margin-top: -20px;
    background: #720819;
    height: 416px;
}
.sec4_2 h3{
    color: #fff;
}
.sec4_2 p{
    color: #fff;
}
.sec4_2 h3{
    padding-top: 170px;
}
.sec4_2 p{
    padding-top: 20px;
}
.section2{
    margin-top: 20px;
}
.section3{
    width: 100%;
    height: 1200px;
    background: #B82631;
}
.section3 h1{
    font-family: Bodoni;
    font-size: 60px;
    font-weight: 200;
    color: #fff;
    line-height: 64px;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-top: 50px;
}
.section3 img{
    padding-top: 30px;
}
.section3 p{
    color: #fff;
    font-family: AvenirLight;
    font-size: 18px;
    line-height: 30px;
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 20px;
}
.sec3_form{
    padding-left: -15px;
}
.shop-image img{
    width: 110%;
    height: 110%;
}
.shop-item{
    margin-top: 20px;
}
.item-shop{
    position: relative;
    width: 90%;
    margin-top: 10px;
}
.overlay {
  position: absolute;
  top: 80%;
  left: 0%;
  background-color: #ccc;
  overflow: hidden;
  width: 110%;
  height: 20%;
  -webkit-transform:scale(0);
  transition: .5s ease;
}
.item-shop:hover .overlay {
  transform: scale(1);
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
footer{
    height: 200px;
    width: 100%;
    background: #ccc;
    margin-top: 200px;
}
.cart-top{
  margin-left: -56px;
}
.title-cart
{
  margin-top: 10px;
}
#cart-content{
  margin-top: 20px;
}
#cart-content li{
  float: left;
  list-style-type: none;
}
.step{
  margin-top: 10px;
  margin-left: -15px;
}
.reset{
  margin-top: 10px;
}
#cart-content a.active_link{
  color: green;
  font: bold 14px sans-serif;
  border-bottom: 1px dashed green;
}
.count-cart li{
  margin-top: 10px;
  list-style-type: none;
}
.input-count-style input{
  text-align: center;
  border: 1px solid #ccc;
  width: 32px;
  height: 22px;
  font: 15px sans-serif;
}
.input-count-style p{
  cursor: pointer;
  margin: 1px;
}
.delete-cart{
  margin-top: 20px;
}
#block-tovar-grid > ul{
  margin-left: 20px; 
}
#block-tovar-grid > li{
  width: 45%;
  height: 50%;
  margin-left: 34px;
  float: left;
  list-style-type: none;
}
.itog-price{
  font: 20px sans-serif;
}
.button-next > a{
  border: 1px solid #b0c181;
  font: 15px sans-serif;
  color: white;
  padding: 6px 18px;
  text-decoration: none;
  background-color: green;
  border-radius: 6px;
}
#clear-cart{
  font: 22px sans-serif;
  margin-top: 30px;
}

@media screen and (max-width: 575px){
  nav{
    width: 100%;
  }
  nav li{
    display: block;
    width: 174%;
    text-align: center;
    background-color: #B88B7F;
    margin-left: -37%;
    margin-top: 0px;
  }
  nav ul{
    display: none;
  }
  nav a{
    /*border-bottom: 1px solid #000;*/
  }
  nav a:hover{
    color: #fff;
    text-decoration: none;
  }
  .menu-trigger{
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  .cart{
    margin-left: -40px;
  }
}

/*
#block-step{
  height: 70px;
  border-bottom: 1px solid #ccc;
}
#block-step > p{
  font: 19px sans-serif;
  margin-top: 8px;
  margin-left: 15px;
  position: absolute;
}
#block-step > a{
  position: absolute;
  border: 1px solid #ccc;
  font: bold 13px sans-serif;
  padding: 4px 7px;
  margin-top: 5px;
  margin-left: 700px;
  text-decoration: none;
  color: white;
  background-color: #e2e2e2;
  border-radius: 5px; 
}
#name-step{
  height: 30px;
}
#name-step li{
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  list-style-type: none;
}
#name-step a{
  color: blue;
  font: bold 14px sans-serif;
  text-decoration: none;
}
#name-step a.active_link{
  color: green;
  font: bold 14px sans-serif;
  border-bottom: 1px dashed green;
}
#header-list-cart{
  height: 30px;
  border-bottom: 1px solid #f2f2f2;
}
#header-list-cart > div{
  float: left;
  margin-left: 5px;
  text-align: center;
  font: bold 13px sans-serif;
  color: #6d6d6d;
  margin-top: 7px;
}
#head1{
  width: 130px;
}
#head2{
  width: 400px;
}
#head3{
  width: 55px;
}
#head4{
  width: 140px;
}
.block-list-cart{
  border: 1px solid black;
  height: 130px;
}
.block-list-cart > div{
  float: left;
  margin-left: 5px;
}
.img-cart{
  width: 130px;
  height: 125px;
}
.title-cart{
  width: 400px;
  height: 125px; 
}
.count-cart{
  width: 55px;
  height: 125px;
}
.price-product{
  width: 140px;
  height: 125px;
}
.delete-cart{
  height: 125px;
}
.title-cart > p{
  margin-top: 15px;

}
.title-cart > p > a{
  font: 15px sans-serif;
}
.title-cart > p > a:hover{
  text-decoration: none;
}
.input-count-style{
  margin-top: 31px;
}
.input-count-style > li{
  list-style-type: none;
}
.input-count-style input{
  text-align: center;
  border: 1px solid black;
  width: 32px;
  height: 22px;
  font: 15px sans-serif;
  border-radius: 5px;
}
.input-count-style > p{
  cursor: pointer;
  font: 15px sans-serif;
  margin: 1px;
}
.price-product p{
  margin-left: 15px;
  margin-top: 65px;
  font: bold 18px sans-serif;
}
.price-product h5{
  position:   absolute;
  font: bold 13px sans-serif;
  margin-top: 42px;
  margin-left: 15px; 
}
.delete-cart img{
  margin-left: 50px;
}
#bottom-cart-line{
  margin-top: 20px;
  width: 1431px;
  border-bottom: 2px solid grey; 
}
*/
