@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica-light.otf);
}
@font-face {
    font-family: Bodoni;
    src: url(../fonts/Bodoni.otf);

}
 @font-face {
    font-family: Playfair; /* Имя шрифта */
    src: url(../fonts/Playfair.ttf); /* Путь к файлу со шрифтом */
   }
 @font-face {
    font-family: Avenir; /* Имя шрифта */
    src: url(../fonts/AvenirLight.otf); /* Путь к файлу со шрифтом */
   }

body{
	height: 2000px;
	width: 100%;
	padding: 0px;
    background-color: #FFFFFF;
}
.logo{
	height: 100px;
	width: 100%;
	background: url(../img/1.png) no-repeat center #fff;
	/*border: 1px red solid;*/
}
*, *::after, *::before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
margin: 0;
padding: 0;
}
#mainmenu {
background: #311012;
position: relative;
overflow:hidden;
height:40px;
margin:30px 0
}
#mainmenu ul {
list-style:none;
margin:0;
padding:0;
position: relative;
left:50%;
float:left;
font:14px Helvetica, sans-serif;
height:40px
}
#mainmenu ul li {
position:relative;
left:-50%;
float:left;
margin:0 10px;
height:40px
}
#mainmenu ul li a {
color: #fff;
display:block;
text-decoration:none;
padding:0 15px;
line-height: 40px;
}
#mainmenu ul li a:hover {
color:#BA8D80; 
}
.mainmenu ul li a.first-word{
    color: #BA8D80;
}
header{
    background: url(../img/1_new.jpg) no-repeat center top;
    height: 702px;
    margin-top: -30px;
}
.header-logo h1{
    margin-top: 100px;
    font-family: Bodoni;
    font-size: 72px;
    font-weight: 700;
    color: #fff;
}
.header-logo h3{
    margin-top: 20px;
    font-family: Playfair;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.header-logo a{
    display: inline-block;
    border: 1px solid #fff;
    font-family: AvenirLight;
    font-size: 18px;
    text-transform: capitalize;
    padding: 15px 25px;
    margin-top: 50px;
    text-decoration: none;
    color: #fff;
}
.header-logo a:hover{
    background-color: #fff;
    color: #000;
}
.transition {
  transition: 1s;
}
section{
    background-color: #BF2936;
    width: 100%;
    height: 1040px;
}
header img{
    margin: 120px auto;
    width: 940px;
    height: 529px;
}
.wrapper{
    max-width: 910px;
    height: auto;
    margin: 0 auto;
}
.img_sec{
    padding-top: 50px;
}
section h3{
    margin-top: 10px;
    font-family: Playfair;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    line-height: 35px;
    text-transform: capitalize;
}
section h1{
    margin-top: 20px;
    font-family: Bodoni;
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    line-height: 64px;
}
section h5{
    margin-top: 10px;
    font-family: AvenirLight;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    line-height: 30px;
    word-wrap: break-word;
}
.sec1{
    width: 100%;
    height: 320px;
}
.sec1 p{
    margin-top: 130px;
    margin-left: -20px;
    font-family: Bodoni;
    font-size: 48px;
    font-weight: 800;
    color: #c52c3c;
    line-height: 64px;
    word-spacing: 3px;
}
.sec1_1 a:hover{
    background-color: #311012;
    color: #fff;
}
.sec1_1{
}
.sec2 a:hover{
    background-color: #311012;
    color: #fff;
}
.sec3 a:hover{
    background-color: #311012;
    color: #fff;
}
.section_h3{
    font-family: Bodoni;
    font-size: 32px;
    font-weight: 200;
    color: #c52c3c;
    line-height: 45px;
}
.section_h4{
    font-family: Playfair;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 35px;
}
.section_a{
    display: inline-block;
    border: 1px solid #000;
    font-family: AvenirLight;
    font-size: 18px;
    padding: 15px 25px;
    text-decoration: none;
    color: #000;    
}

.text_sec{
    margin-top: 30px;
}
.section1 img{
    margin-top: 10px;
}
.sec4_1 img{
    background-size: cover;
    width: 100%;
    height: 415px;
    margin-top: 0px;
}
.sec4_2{
    margin-top: -20px;
    background: #720819;
    height: 416px;
}
.sec4_2 h3{
    color: #fff;
}
.sec4_2 p{
    color: #fff;
}
.sec4_2 h3{
    padding-top: 170px;
}
.sec4_2 p{
    padding-top: 20px;
}
.section2{
    margin-top: 20px;
}
.section3{
    width: 100%;
    height: 1200px;
    background: #B82631;
}
.section3 h1{
    font-family: Bodoni;
    font-size: 60px;
    font-weight: 200;
    color: #fff;
    line-height: 64px;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-top: 50px;
}
.section3 img{
    padding-top: 30px;
}
.section3 p{
    color: #fff;
    font-family: AvenirLight;
    font-size: 18px;
    line-height: 30px;
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 20px;
}
.sec3_form{
    padding-left: -15px;
}
.shop-image img{
    width: 110%;
    height: 110%;
}
.shop-item{
    margin-top: 20px;
}
.item{
    position: relative;
    width: 90%;
    margin-top: 10px;
}
.overlay {
  position: absolute;
  top: 80%;
  left: 0%;
  background-color: #ccc;
  overflow: hidden;
  width: 110%;
  height: 20%;
  -webkit-transform:scale(0);
  transition: .5s ease;
}
.item:hover .overlay {
  transform: scale(1);
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
footer{
    height: 200px;
    width: 100%;
    background: #ccc;
    margin-top: 20px;
}